        #title{
            animation: showup 0.5s ease-in-out forwards 4.5s;
        }
        #title path:nth-child(1){
            stroke-dasharray: 622px;
            stroke-dashoffset: 622px;
            animation: connect 2s ease-in-out forwards;
        }
        #title path:nth-child(2){
            stroke-dasharray: 532px;
            stroke-dashoffset: 532px;
            animation: connect 2s ease-in-out forwards 0.3s;
        }
        #title path:nth-child(3){
            stroke-dasharray: 630px;
            stroke-dashoffset: 630px;
            animation: connect 2s ease-in-out forwards 0.6s;
        }
        #title path:nth-child(4){
            stroke-dasharray: 693px;
            stroke-dashoffset: 693px;
            animation: connect 2s ease-in-out forwards 0.9s;
        }
        #title path:nth-child(5){
            stroke-dasharray: 645px;
            stroke-dashoffset: 645px;
            animation: connect 2s ease-in-out forwards 1.2s;
        }
        #title path:nth-child(6){
            stroke-dasharray: 623px;
            stroke-dashoffset: 623px;
            animation: connect 2s ease-in-out forwards 1.5s;
        }
        #title path:nth-child(7){
            stroke-dasharray: 603px;
            stroke-dashoffset: 603px;
            animation: connect 2s ease-in-out forwards 1.8s;
        }
        #title path:nth-child(8){
            stroke-dasharray: 654px;
            stroke-dashoffset: 654px;
            animation: connect 2s ease-in-out forwards 2.1s;
        }
        #title path:nth-child(9){
            stroke-dasharray: 546px;
            stroke-dashoffset: 546px;
            animation: connect 2s ease-in-out forwards 2.4s;
        }
        #title path:nth-child(10){
            stroke-dasharray: 630px;
            stroke-dashoffset: 630px;
            animation: connect 2s ease-in-out forwards 2.7s;
        }
        #title path:nth-child(11){
            stroke-dasharray: 766px;
            stroke-dashoffset: 766px;
            animation: connect 2s ease-in-out forwards;
        }
        #title path:nth-child(12){
            stroke-dasharray: 413px;
            stroke-dashoffset: 413px;
            animation: connect 2s ease-in-out forwards 0.3s;
        }
        #title path:nth-child(13){
            stroke-dasharray: 460px;
            stroke-dashoffset: 460px;
            animation: connect 2s ease-in-out forwards 0.6s;
        }
        #title path:nth-child(14){
            stroke-dasharray: 546px;
            stroke-dashoffset: 546px;
            animation: connect 2s ease-in-out forwards 0.9s;
        }
        #title path:nth-child(15){
            stroke-dasharray: 630px;
            stroke-dashoffset: 630px;
            animation: connect 2s ease-in-out forwards 1.2s;
        }
        #title path:nth-child(16){
            stroke-dasharray: 693px;
            stroke-dashoffset: 693px;
            animation: connect 2s ease-in-out forwards 1.5s;
        }
        #title path:nth-child(17){
            stroke-dasharray: 645px;
            stroke-dashoffset: 645px;
            animation: connect 2s ease-in-out forwards 1.8s;
        }
        #title path:nth-child(18){
            stroke-dasharray: 630px;
            stroke-dashoffset: 630px;
            animation: connect 2s ease-in-out forwards 2.1s;
        }
        @keyframes connect{
            to{
                stroke-dashoffset: 0;
            }
        }
        @keyframes showup{
            from{
                fill: transparent;
            }
            to{
                fill: #edf5e1;
            }
        }
